:root {
  --primary-yellow: #ebedc5;
  --primary-yellow-hover: #ffd700;
  --cream: #fff7ec;
  --oat-milk: #e8dbcc;
  --espresso: #3e273e;
  --dark-chocolate: #34150f;
  
  /* Base colors */
  --black: #000;
  --white: #fff;
  --gray-light: #f0f0f0;
  --gray-medium: #d0d0d0;
  --gray-text: #666;
  --gray-text-light: #999;
  --gray-text-dark: #333;
  --modal-bg: #fbfbfa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cream);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
